@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon-contact{
  font-size: 30px;
    color: #7c83f7;
    margin: 10px;
}
.contact{
  width: 50%;
  height: 100%;
  background-color: blue;
}
.cicle-p3{

    background-size: contain;
    background-position: center;
  
}
.circle{
      width: 10em;
    margin: 2em;
    background-color: aliceblue;
    border-radius: 10em;
    height: 10em;
}
.img_radius{
    background-position: center;
    background-size: cover;
}
.back{
   width: 100%;
   height: 100%;
   border-radius: 0em 1em 1em 0em;
   background-image: url("assets/img/binario.png") ;
}
.circle_text{
  background-color: #5183b2;
  color: white;
  width: 50em;
  display: flex;
  align-items: center;
  margin: 2em;
}

.main{

 
    display:flex;
    height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 1.1;
  padding: 1rem;
  width: 100%;
  background-color: #5183b2;
  /* background-image:url("https://thumbs.dreamstime.com/b/tela-do-fundo-da-tecnologia-do-c%C3%B3digo-fonte-e-do-sum%C3%A1rio-95206313.jpg"); */
  /* background-size:cover */
  /* filter: blur(5px);  */
}
body {
  display: flex;
  

  
  
}
article{
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
/* .pc{
  background-size: 40em;
  width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/02/14/10/screen-306381_960_720.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
  } */
.code{
  background-image: url("assets/img/binario.png") ;
  border-radius: 0em 1em 1em 0em;
  display: contents;
 
}

.texto-prompt{
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  line-height: 2.1;
  color: #7b7b7b;
  padding-top: 2em;
}
.prompt {

  width: 55%;
  height: 56%;
    background-image: url(assets/img/prompt.png);
    background-repeat: no-repeat;
    align-self: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
 width: 20rem;
  border-radius: 1em 0em 0em 1em;
  background: #efefef;
  transition: all 500ms ease;
  overflow: hidden;
}

.sidebar.active {
  width: 4rem;
  height: min-content;
}
.rec-text{
  font-size: 10px;
  width: 100%;
    padding: 30px;
    background: #5183b2;
    display: none;
    height: 100%;
    text-align: center;
    color: rgb(8 35 72);
    align-items: center;
}
.rec{
    width: 20em;
    height: 10em;
    margin: 14px;
        background: #5183b2;
    background-size: cover;
    justify-content: center;
    display: flex;
}
.hamburger {
  width: 1.6rem;
  height: 1.6rem;
  inset: 2rem;
  transform: translate(-50%, -50%);
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
  background: linear-gradient(
    #0007 15%,
    0%,
    #0000 30%,
    0%,
    #0007 45%,
    0%,
    #0000 60%,
    0%,
    #0007 75%,
    0%,
    #0000
  );
}

.user {
  margin-top: 1em;
  opacity: 1;
  border-bottom: 1px solid #0002;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: relative;
  transition: opacity 270ms ease-in-out;
}

.user.fade {
  z-index: -1;
  inset: 0;
  position: absolute;
  opacity: 0;
  transition: 0ms ease-in-out;
}
.user i {
  position: relative;
  display: flex;
  width: 8.5rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: #ffffff90;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  color: #999fff;
}

.userName {
  font-size: 1.4rem;
  font-weight: 800;
  color: #333;
  text-transform: uppercase;
  line-height: 1.5;
}
.userText {
  font-style: italic;
  color: #666;
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.navigation {
  width: 100%;
  position: relative;
}

.nav-list {
  padding: 0.5rem;
  margin-top: 2rem;
}

li {
  list-style: none;
}

.link-nav {
  padding: 0.5rem 0;
  margin: 1rem 0;
  border-radius: 0.35em;
  background: #ffffff60;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2em;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
}

.rec:hover{
  /* filter: brightness(0.5); */
  border-style: solid;
    border-width: 7px;
    border-color:#04121f;;
}

a:hover {
  background: #0001;
}

.fab {
  align-items: center;
  margin-left: 0.5rem;
  display: inline-flex;
  font-size: 2rem;
  color: #7c83f7;
  -webkit-text-stroke: thin #99fa;
}
@media(max-width: 1000px) {
  .user{
     display:none
   }
   .sidebar{
    width: 4rem;
   }
   .text-side{
     display: none;
   }
 }